<launch>

  <arg name="gui" default="true"/>
  <arg name="rviz" default="false"/>
  <arg name="world" default="default"/>


  <include file="$(dirname)/include/model.launch">
    <arg name="param_name" value="robot_description"/>
    <arg name="high_poly" value="false"/>
  </include>

  <include if="$(arg rviz)" file="$(dirname)/include/rviz.launch"/>


  <include file="$(dirname)/include/akrobat.launch">
    <arg name="using_real_robot" value="false"/>
  </include>


  <!-- launch gazebo with the given world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find akrobat)/worlds/$(arg world).world"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="true"/>
    <arg name="physics" value="ode"/>
  </include>


  <!-- load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find akrobat)/config/akrobat_control.yaml" command="load"/>


  <!-- load the joint controllers -->
  <node
    name="controller_spawner"
    pkg="controller_manager"
    type="spawner"
    respawn="false"
    output="screen"
    ns="/akrobat"
    args="
    m11_position_controller m12_position_controller m13_position_controller
    m21_position_controller m22_position_controller m23_position_controller
    m31_position_controller m32_position_controller m33_position_controller
    m41_position_controller m42_position_controller m43_position_controller
    m51_position_controller m52_position_controller m53_position_controller
    m61_position_controller m62_position_controller m63_position_controller"/>


  <!-- send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model akrobat -param robot_description"/>

  <!-- start publishing joint positions to gazebo -->
  <node name="joint_states_to_gazebo" pkg="akrobat" type="joint_states_to_gazebo.py"/>

</launch>
