<launch>
    <arg name="rviz" default="false" doc="wether to start rviz to visualize robot movement"/>
    <arg name="robot_connected" default="true" doc="wether to start the dynamixel software for the motors"/>


    <!-- include the main akrobat logic -->
    <include file="$(dirname)/include/akrobat.launch">
        <arg name="using_real_robot" value="$(arg robot_connected)"/>
    </include>

    <!-- load robot description and start rviz if desired -->
    <param if="$(arg rviz)" name="robot_description" command="$(find xacro)/xacro '$(find akrobat)/urdf/akrobat.xacro'"/>
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find akrobat)/rviz/akrobat.rviz" />

</launch>