<launch>

  <arg name="high_poly_model" default="false"/>
  
  <!-- Load the URDF into the ROS Parameter Server -->
  <param if="$(arg high_poly_model)" name="robot_description"
    command="$(find xacro)/xacro '$(find akrobat)/urdf/akrobat_low_poly.xacro'"/>

  <param unless="$(arg high_poly_model)" name="robot_description"
    command="$(find xacro)/xacro '$(find akrobat)/urdf/akrobat_low_poly.xacro'"/>

</launch>