<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="joints" params="leg_number">
        <joint name="m${leg_number}1">
            <xacro:unless value="$(arg simulation)">
                <param name="id">${leg_number}1</param>
            </xacro:unless>
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
        <joint name="m${leg_number}2">
            <xacro:unless value="$(arg simulation)">
                <param name="id">${leg_number}2</param>
            </xacro:unless>
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
        <joint name="m${leg_number}3">
            <xacro:unless value="$(arg simulation)">
                <param name="id">${leg_number}3</param>
            </xacro:unless>
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </xacro:macro>

    <xacro:unless value="$(arg test)">
        <xacro:unless value="$(arg simulation)">
            <ros2_control name="DynamixelSystem" type="system">
                <hardware>
                    <plugin>dynamixel_hardware/DynamixelHardware</plugin>
                    <param name="usb_port">/dev/ttyUSB0</param>
                    <param name="baud_rate">1000000</param>
                </hardware>
    
                <xacro:joints leg_number="1" />
                <xacro:joints leg_number="2" />
                <xacro:joints leg_number="3" />
                <xacro:joints leg_number="4" />
                <xacro:joints leg_number="5" />
                <xacro:joints leg_number="6" />
            </ros2_control>
        </xacro:unless>
    
        <xacro:if value="$(arg simulation)">
            <ros2_control name="IgnitionSystem" type="system">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
    
                <xacro:joints leg_number="1" />
                <xacro:joints leg_number="2" />
                <xacro:joints leg_number="3" />
                <xacro:joints leg_number="4" />
                <xacro:joints leg_number="5" />
                <xacro:joints leg_number="6" />
            </ros2_control>
        </xacro:if>
    
        <gazebo>
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find akrobat)/config/ros2_control.yaml</parameters>
                <parameters>$(find akrobat)/config/ros2_control_gazebo.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:unless>


    <xacro:if value="$(arg test)">
        <ros2_control name="TestSystem" type="system">
            <hardware>
                <plugin>fake_components/GenericSystem</plugin>
            </hardware>
    
            <xacro:joints leg_number="1" />
            <xacro:joints leg_number="2" />
            <xacro:joints leg_number="3" />
            <xacro:joints leg_number="4" />
            <xacro:joints leg_number="5" />
            <xacro:joints leg_number="6" />
        </ros2_control>
    </xacro:if>

</robot>