<launch>

  <!-- include high poly model -->
  <include file="$(dirname)/model.launch">
    <arg name="param_name" value="rviz_robot_description"/>
    <arg name="high_poly" value="true"/>
  </include>

  <!-- start rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find akrobat)/rviz/akrobat.rviz" />

</launch>